
::ng-deep {
      .mat-form-field-infix {
         background-color: #3f51b5;
       }

       .mat-select-value,
       .mat-select-arrow,
      .mat-form-field-hide-placeholder .mat-select-placeholder,
      .mat-form-field-appearance-legacy .mat-form-field-label {
        color: #fff !important;
        opacity: 1;
      }

      .mat-form-field-infix {
         border-color: #fff !important;
       border-top: none;
        padding-left: 5px !important;
      }

      .mat-form-field-appearance-legacy .mat-form-field-label {
        padding-left: 5px;
      }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #fff !important;
      }
     }



.games{
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
.game{
  position: relative;
  width: 470px;
  overflow: hidden;
  height: 340px;
  margin: 8px;
  background-color: rgb(66, 66, 66);
  border-radius:10px ;
  padding: 10px;

}
.game-thumb-container img{
  height: 270px;
  width: 470px;
  border-radius:10px ;

}

.game-platforms{
  position: absolute;
  display: flex;

  bottom: 70px;
  left: 20px;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  img{
    width: 100%;
    padding: 5px;
    z-index: 10;
    height: 35px;
    margin: 3px;

  }
}

.game-name{
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}
