<!-- <div class="filters">
  <mat-form-field>
    <mat-label>Trier</mat-label>
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
      (selectionChange)="searchGames(sort)"
    >
      <mat-option value="name">Nom</mat-option>
      <mat-option value="-released">Sortie</mat-option>
      <mat-option value="-added">Date d'ajout</mat-option>
      <mat-option value="-created">Création</mat-option>
      <mat-option value="-updated">MAG</mat-option>
      <mat-option value="-rating">Note</mat-option>
      <mat-option value="metacritic">Critique</mat-option>
    </mat-select>
  </mat-form-field>
</div> -->

<!-- <video autoplay [muted]="'muted'" loop>
  <source src="assets/images/bg.mp4" type="video/mp4">
</video> -->


<div class="games">
  <ng-container *ngFor="let game of games">
    <div class="game" (click)="openGameDetails(game.id)">
      <div class="game-thumb-container">
        <img
          *ngIf="game.background_image"
          src="{{ game.background_image }}"
          alt="thumbnail"
          class="game-thumbnail"
        />
        <div class="game-platforms">
          <img
            *ngFor="let gamePlatform of game.parent_platforms"
            class="game-platform"
            src="assets/images/platforms/{{ gamePlatform.platform.slug }}.svg"
            alt="{{ gamePlatform.platform.slug }}"
          />
        </div>
        <p class="game-name">{{ game.name }}</p>
      </div>
      <p *ngIf="!game.background_image">pas d'image</p>
      </div>


      <div class="game-description">

    </div>
  </ng-container>
</div>
